body {
   width: 60%;
   margin: 0px auto;
   padding: 20px;
   font: normal 12pt sans-serif;
}

.face {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.contactphoto {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.link {
    width: 50px;
    height: 50px;
}

.bold {
    font-weight: 700;
}

pre {
    padding: 0px 20px;
    font-size: 85%;
    line-height: 1.5;
    background-color: rgba(255, 255, 128, .5);
    overflow: auto;
}

ul {
    line-height: 125%;
}